body{
    width: 100%;
    height: wrap;
    overflow-x: hidden;
    background-image: url('disp_back.jpg');
    background-position:fixed;
}
#container{
    height:wrap;
    width:wrap;
}
#navbar{
    width:96%;
    height: 10%;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
#banner{
    font-family: 'Roboto',sans-serif;
    color:white;
    margin-left: 2%;
    float: left;
    margin-top: 15px;
    font-size: 25px;
}
#navbar #navi{
    height: wrap;
    width: wrap;
    float:left;
    margin-left:50%;
} 
#navbar #navi nav ul li{
    list-style-type: none;
    font-family: 'Roboto',sans-serif;
    color:white;
    margin-left: 35px;
    float: left;
}
#navbar #navi nav ul li a {
    list-style-type: none;
    float: left;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#heading{
    position: absolute;
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    color:black;
    font-weight: 200;
    margin-top: 9%;
    margin-left: 5%;
}
#langs{
    position:absolute;
    margin-top:13%;
    margin-left: 5%;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 100;
}
#carousel{
    position: absolute;
    height:300;
    width:550;
    margin-top:16%;
    margin-left: 28%;
}
#explanation{
    position:absolute;
    height:wrap;
    width:90%;
    margin-top: 45%;
    margin-left: 5%;
    font-family: 'Roboto',sans-serif;
}
#explanation #exp_content{
    position:absolute;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color:black;
    font-weight: 100;
    font-style: italic;
}
#Link{
    position: absolute;
    margin-top: 43%;
    height: wrap;
    width: wrap;
    margin-left: 70%;
    border-radius: 20px;
    padding:10px 15px 5px 15px;
}
#Link_to_src{
    float: left;
    margin-left: 20px;
    color:black;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}
#git_lnk{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    float: left;
    margin-top: -2px;
    background-color: blue;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
}
/*--------------This is the footer part only don't edit it------------------------------------*/
#footer{
    height:150px;
    width:100%;
    padding:10px 20px 10px 20px;
    color: white;
    background-color: black;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    margin-top: 152%;
    margin-bottom: 20px;
    margin-left:-8px;
}
#footer #slinks #foot_note{
    float:left;
    margin-left:300px;
    position: absolute;
    color:white;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size:16px;
}
#footer #slinks{
    margin-top:30px;
    width:100%;
    height:wrap;
    position:absolute;
}
#footer #slinks #fb{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
}
#footer #slinks #fb #fb_ico{
    height:50px;
    width:50px;
    border-radius: 32px;
    transition:transform 1s;
}
#footer #slinks #fb:hover #fb_ico{
    transform: scale(1.5);
}
#footer #slinks #lin{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
    margin-left:75px;
}
#footer #slinks #lin #lin_ico{
    height:50px;
    width:50px;
    border-radius: 32px;
    transition:transform 1s;
}
#footer #slinks #lin:hover #lin_ico{
    transform: scale(1.5);
}
#footer #slinks #github{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
    margin-left:147px;
}
#footer #slinks #github #git_ico{
    height:50px;
    width:50px;
    border-radius: 32px;
    transition:transform 1s;
}
#footer #slinks #github:hover #git_ico{
    transform: scale(1.5);
}
#footer #slinks #gle{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
    margin-left:215px;
}
#footer #slinks #gle #gle_ico{
    height:50px;
    width:50px;
    border-radius: 32px;
    transition:transform 1s;
}
#footer #slinks #gle:hover #gle_ico{
    transform: scale(1.5);
}
#footer #slinks #fnote{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
    margin-left:300px;
    margin-top:70px;
    color:white;
    font-family:'Jost',sans-serif;
}
/*--------------------------------------------------------------------------------------------*/