body{
    width: 100%;
    height: wrap;
    overflow-x: hidden;
    background-image: url('blogs_back.jpg');
    background-position: cover;
}
#container{
    height:wrap;
    width:wrap;
}
#navbar{
    width:96%;
    height: 10%;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
#banner{
    font-family: 'Roboto',sans-serif;
    color:white;
    margin-left: 2%;
    float: left;
    font-size: 25px;
}
#navbar #navi{
    height: wrap;
    width: wrap;
    float:left;
    margin-left:50%;
} 
#navbar #navi nav ul li{
    list-style-type: none;
    font-family: 'Roboto',sans-serif;
    color:white;
    margin-left: 35px;
    float: left;
}
#navbar #navi nav ul li a {
    list-style-type: none;
    float: left;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#heading{
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    color:black;
    font-weight: 400;
    margin-top: 8%;
    margin-left: 50px;
    position: absolute;
}
#c_projs{
    position: absolute;
    margin-top:12%;
    margin-left:5%;
    height:wrap;
    width: wrap;
}
#wrapper_div{
    position: static;
    height:wrap;
    width:wrap;
}
#wrapper_div #proj_container_odd{
    border-radius: 20px;
    margin-top: 20px;
    width:35%;
    height:wrap;
    float:left;
    margin-left: 50px;
    padding: 10px 20px 10px 20px;
    font-family: 'Roboto',sans-serif;
    color:white;
    background-color: black;
    opacity: 0.8;
}
#proj_container_odd a{
    text-decoration: none;
}
#proj_container_odd a #p_title{
    font-weight: 800;
    font-size: 26px;
    color:white;
}
#p_lang{
    font-weight: 500;
    font-size: 18px;
    color:white;
}
#p_abt{
    font-weight: 100;
    font-size: 14px;
    color:white;
}
#wrapper_div #proj_container_even{
    border-radius: 10px;
    margin-top: 20px;
    width:35%;
    height:wrap;
    float:left;
    margin-left: 60px;
    padding: 10px 20px 10px 20px;
    font-family: 'Roboto',sans-serif;
    color:white;
    background-color: black;
    opacity: 0.8;
}
#proj_container_even a{
    text-decoration: none;
}
#proj_container_even a #p_title{
    font-weight: 800;
    font-size: 26px;
    color:white;
}
#footer{
    height:150px;
    width:100%;
    padding:10px 20px 10px 20px;
    color: white;
    background-color: black;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    margin-top: 82%;
    margin-bottom: 20px;
    margin-left:-8px;
}
#footer #slinks #foot_note{
    float:left;
    margin-left:300px;
    position: absolute;
    color:white;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size:16px;
}
#footer #slinks{
    margin-top:30px;
    width:100%;
    height:wrap;
    position:absolute;
}
#footer #slinks #fb{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
}
#footer #slinks #fb #fb_ico{
    height:50px;
    width:50px;
    border-radius: 32px;
    transition:transform 1s;
}
#footer #slinks #fb:hover #fb_ico{
    transform: scale(1.5);
}
#footer #slinks #lin{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
    margin-left:75px;
}
#footer #slinks #lin #lin_ico{
    height:50px;
    width:50px;
    border-radius: 32px;
    transition:transform 1s;
}
#footer #slinks #lin:hover #lin_ico{
    transform: scale(1.5);
}
#footer #slinks #github{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
    margin-left:147px;
}
#footer #slinks #github #git_ico{
    height:50px;
    width:50px;
    border-radius: 32px;
    transition:transform 1s;
}
#footer #slinks #github:hover #git_ico{
    transform: scale(1.5);
}
#footer #slinks #gle{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
    margin-left:215px;
}
#footer #slinks #gle #gle_ico{
    height:50px;
    width:50px;
    border-radius: 32px;
    transition:transform 1s;
}
#footer #slinks #gle:hover #gle_ico{
    transform: scale(1.5);
}
#footer #slinks #fnote{
    position:absolute;
    float:left;
    width:wrap;
    height:wrap;
    margin-left:300px;
    margin-top:70px;
    color:white;
    font-family:'Jost',sans-serif;
}
/*----------Implementation for mobile devices------------------*/
@media (max-width:768px){
    #navbar{
        margin-top: 5px;
        margin-left: -5px;
        height:90px;
    }
    #navbar #navi{
        margin-top: -10px;
        height: wrap;
        width: wrap;
        float:left;
        margin-left:-10px;
    }
    #navbar #navi nav ul li a {
        list-style-type: none;
        float: left;
        margin-left: -20px;
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    #heading{
        font-size: 30px;
        margin-left: 30px;
        margin-top: 120px;
    }
    #c_projs{
        margin-top: 170px;
        margin-left:2%;
    }
    #wrapper_div #proj_container_odd{
        margin-top: 20px;
        width:80%;
        margin-left: 5px;
    }
    #wrapper_div #proj_container_even{
        border-radius: 10px;
        width:80%;
        margin-left: 5px;
    }
    #footer{
        height:320px;
        margin-top: 475%;
    }
    #footer #slinks #fnote{
        margin-left:300px;
        position: absolute;
        margin-top: 230px;
        margin-left: 15px;
    }
    #footer #slinks #foot_note{
        margin-top: 70px;
        margin-left: -5px;
        margin-right: 5px;
    } 
}